@import url('https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&subset=cyrillic,cyrillic-ext,latin-ext');
@import url('https://fonts.googleapis.com/css?family=Roboto+Mono:100,100i,300,300i,400,400i,500,500i,700,700i&subset=cyrillic,cyrillic-ext,latin-ext');

section.slide.first small {
	display: inline-block;
	margin-top: 12px;
	font-size: 44px;
	font-weight: 100;
}

section.slide.first small a {
	font-size: 54px;
	font-weight: 500;
}
